
:root {
    --blanco: #ffffff;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --oscuro: #212121;
}
html {
    box-sizing: border-box;
    min-height: 100%;
    scroll-snap-type: y mandatory;
}
*, *:before, *:after {
    box-sizing: inherit;
}
p {
    line-height: 2;
    font-size: 25px;
}
body {
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    min-height: 100%;
    
}
div{
    display: grid;
    justify-content: center;
}
a {
    scroll-snap-align: center;
    scroll-snap-stop: always;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;    
    border-radius: 5px;
    
}
@media (min-width:768px) {
    a {
        flex-direction: row;
        justify-content: space-between;
    }
}
a {
    padding: 1rem 2rem;
    color: var(--blanco);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
}
a {
    background-color: var(--primario);
    color: var(--oscuro);
}
a {
    margin-bottom:0;
}
@media (min-width:768px) {
    a {
        margin-bottom: 0;
    }
}
h1{
    text-align: center;
}
.pie{
    text-align: center;
    font-size: 20px;
}